configuration {
    modi: "drun,window";
    show-icons: false;
    terminal: "kitty";
    font: "JetBrains Mono 35";
    drun-display-format: "{name}";
    show-modi: false;
}

@theme "~/.config/rofi/swag-theme.rasi"
