* {
    /*font-family: 'Input Mono', monospace;*/
    font-family: 'Perfect DOS VGA 437', monospace;
    font-size: 16px;
}

#waybar {
    /*color: rgb(150, 150, 150);*/
    color: rgba(122, 182, 229, 0.75);
    background-color: transparent;
}

#waybar > box {
    background-color: rgba(28, 30, 40, 1);
    margin: 0px 200px 0px 200px;
    border-radius: 0px 0px 40px 40px;
}

#workspaces button {
    all: unset;	
    padding: 0 9px 0 18px;
    margin: 10px 0 10px 10px;
    background-color: rgb(18, 20, 30);
    border-radius: 10px;
}

#workspaces button.active {
    /*background-color: rgb(150, 150, 150);*/
    background-color: #70b6e5
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces,
#custom-wireguard {
   margin-left: 20px;
}

#clock,
#battery,
#network,
#pulseaudio {
    padding: 10px 12px;
    margin-right: 20px;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

