* {
    font-family: 'JetBrainsMono Nerd Font', Monospace;
    font-size: 1em;
}

#waybar {
    color: #BBBBBB;
    background-color: transparent;
}

#waybar > box {
    background-color: #191919;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

#workspaces button {
    all: unset;	
    padding: 2px 15px;
    margin: 15px 2px;
    background-color: rgb(17, 17, 17);
    border-radius: 0px;
    font-size: 0px;
}

#workspaces button.active {
    background-color: #BBBBBB
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces {
    margin-left: 50px; 
}

#custom-wireguard {
    margin-left: 50px;
}

#clock,
#battery,
#network,
#pulseaudio {
    margin-right: 50px;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
}

